# Created by https://www.toptal.com/developers/gitignore/api/virtualenv
# Edit at https://www.toptal.com/developers/gitignore?templates=virtualenv

### VirtualEnv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
*include/
*lib/
pyvenv.cfg
.venv
pip-selfcheck.json

# End of https://www.toptal.com/developers/gitignore/api/virtualenv